In [110]:
import pandas as pd
import json

In [146]:
# Ruta del archivo JSON
json_path = r'Dataset JSON/informacion general/arkham.json'

# Cargar el contenido del archivo JSON
with open(json_path, 'r') as file:
    json_data = json.load(file)

# Normalizar el JSON y crear un DataFrame
arkham = pd.json_normalize(json_data)


#eliminamos todas las columnas nulas o que sean iguales a 0
arkham = arkham.dropna(axis=1, how='all')
arkham = arkham.loc[:, (arkham != 0).any(axis=0)]

#Eliminamos todas las columnas que contengan la palabra "community", "market_data.ath", "description"
arkham = arkham[arkham.columns.drop(list(arkham.filter(regex='community')))]
arkham = arkham[arkham.columns.drop(list(arkham.filter(regex='market_data.ath')))]
arkham = arkham[arkham.columns.drop(list(arkham.filter(regex='description')))]

#Le cambiamos los nombres a las columnas que nos interesan "market_data.circulating_supply" y "market_data.circulating_supply"
arkham = arkham.rename(columns={'market_data.circulating_supply': 'circulating_supply'})
arkham = arkham.rename(columns={'market_data.total_supply': 'total_supply'})
#Eliminamos las columnas que no nos interesan que contienen "market_data", "localization", "links", "image"
# ya que nos interesan
arkham = arkham[arkham.columns.drop(list(arkham.filter(regex='market_data')))]
arkham = arkham[arkham.columns.drop(list(arkham.filter(regex='localization')))]
arkham = arkham[arkham.columns.drop(list(arkham.filter(regex='links')))]
arkham = arkham[arkham.columns.drop(list(arkham.filter(regex='image')))]

arkham

,id,symbol,name,asset_platform_id,categories,additional_notices,country_origin,contract_address,sentiment_votes_up_percentage,sentiment_votes_down_percentage,...,market_cap_rank,status_updates,last_updated,tickers,platforms.ethereum,detail_platforms.ethereum.decimal_place,detail_platforms.ethereum.contract_address,total_supply,circulating_supply,developer_data.last_4_weeks_commit_activity_series
0,arkham,arkm,Arkham,ethereum,"[Binance Launchpad, Ethereum Ecosystem]",[],,0x6e2a43be0b1d33b726f0ca3b8de60b3482b8b050,88.89,11.11,...,358,[],2023-08-10T20:09:53.032Z,"[{'base': 'ARKM', 'target': 'USDT', 'market': ...",0x6e2a43be0b1d33b726f0ca3b8de60b3482b8b050,18,0x6e2a43be0b1d33b726f0ca3b8de60b3482b8b050,1000000000,150000000,[]

In [147]:


# Ruta del archivo JSON
json_path_bitcoin = r'Dataset JSON/informacion general/bitcoin.json'

# Cargar el contenido del archivo JSON
with open(json_path_bitcoin, 'rb') as file:
    json_data_bitcoin = file.read().decode('utf-8')

# Convertir la cadena JSON en un diccionario
json_dict_bitcoin = json.loads(json_data_bitcoin)

# Normalizar el JSON y crear un DataFrame
bitcoin = pd.json_normalize(json_dict_bitcoin)

# Eliminar columnas nulas o que sean iguales a 0
bitcoin = bitcoin.dropna(axis=1, how='all')
bitcoin = bitcoin.loc[:, (bitcoin != 0).any(axis=0)]

# Eliminar columnas que contienen ciertas palabras clave
bitcoin = bitcoin[bitcoin.columns.drop(list(bitcoin.filter(regex='community')))]
bitcoin = bitcoin[bitcoin.columns.drop(list(bitcoin.filter(regex='market_data.ath')))]
bitcoin = bitcoin[bitcoin.columns.drop(list(bitcoin.filter(regex='description')))]

# Cambiar nombres de columnas
bitcoin = bitcoin.rename(columns={'market_data.circulating_supply': 'circulating_supply'})
bitcoin = bitcoin.rename(columns={'market_data.total_supply': 'total_supply'})

# Eliminar columnas no deseadas
bitcoin = bitcoin[bitcoin.columns.drop(list(bitcoin.filter(regex='market_data')))]
bitcoin = bitcoin[bitcoin.columns.drop(list(bitcoin.filter(regex='localization')))]
bitcoin = bitcoin[bitcoin.columns.drop(list(bitcoin.filter(regex='links')))]
bitcoin = bitcoin[bitcoin.columns.drop(list(bitcoin.filter(regex='image')))]
bitcoin = bitcoin[bitcoin.columns.drop(list(bitcoin.filter(regex='developer_data')))]
bitcoin = bitcoin[bitcoin.columns.drop(list(bitcoin.filter(regex='public_interest')))]
bitcoin

,id,symbol,name,block_time_in_minutes,hashing_algorithm,categories,additional_notices,country_origin,genesis_date,sentiment_votes_up_percentage,...,coingecko_score,developer_score,liquidity_score,status_updates,last_updated,tickers,platforms.,detail_platforms..contract_address,total_supply,circulating_supply
0,bitcoin,btc,Bitcoin,10,SHA-256,"[Cryptocurrency, Layer 1 (L1)]",[],,2009-01-03,82.12,...,83.151,99.241,100.011,[],2023-08-10T04:18:21.445Z,"[{'base': 'BTC', 'target': 'USDT', 'market': {...",,,21000000,19452943

In [148]:
# Ruta del archivo JSON
json_path_bnb = r'Dataset JSON/informacion general/bnb.json'

# Cargar el contenido del archivo JSON
with open(json_path_bnb, 'rb') as file:
    json_data_bnb = file.read().decode('utf-8')

# Convertir la cadena JSON en un diccionario
json_dict_bnb = json.loads(json_data_bnb)

# Normalizar el JSON y crear un DataFrame
bnb = pd.json_normalize(json_dict_bnb)

# Eliminar columnas nulas o que sean iguales a 0
bnb = bnb.dropna(axis=1, how='all')
bnb = bnb.loc[:, (bnb != 0).any(axis=0)]

# Eliminar columnas que contienen ciertas palabras clave
bnb = bnb[bnb.columns.drop(list(bnb.filter(regex='community')))]
bnb = bnb[bnb.columns.drop(list(bnb.filter(regex='market_data.ath')))]
bnb = bnb[bnb.columns.drop(list(bnb.filter(regex='description')))]

# Cambiar nombres de columnas
bnb = bnb.rename(columns={'market_data.circulating_supply': 'circulating_supply'})
bnb = bnb.rename(columns={'market_data.total_supply': 'total_supply'})

# Eliminar columnas no deseadas
bnb = bnb[bnb.columns.drop(list(bnb.filter(regex='market_data')))]
bnb = bnb[bnb.columns.drop(list(bnb.filter(regex='localization')))]
bnb = bnb[bnb.columns.drop(list(bnb.filter(regex='links')))]
bnb = bnb[bnb.columns.drop(list(bnb.filter(regex='image')))]
bnb = bnb[bnb.columns.drop(list(bnb.filter(regex='developer_data')))]
bnb = bnb[bnb.columns.drop(list(bnb.filter(regex='public_interest')))]
bnb

,id,symbol,name,categories,additional_notices,country_origin,genesis_date,sentiment_votes_up_percentage,sentiment_votes_down_percentage,watchlist_portfolio_users,...,status_updates,last_updated,tickers,platforms.,platforms.ethereum,detail_platforms..contract_address,detail_platforms.ethereum.decimal_place,detail_platforms.ethereum.contract_address,total_supply,circulating_supply
0,binancecoin,bnb,BNB,"[Alleged SEC Securities, Smart Contract Platfo...",[],,2017-07-08,61.11,38.89,641529,...,"[{'description': 'Binance Black Friday - $100,...",2023-08-10T04:16:16.616Z,"[{'base': 'BNB', 'target': 'USDT', 'market': {...",,0xb8c77482e45f1f44de1745f52c74426c631bdd52,,18,0xb8c77482e45f1f44de1745f52c74426c631bdd52,153856150,153856150

In [149]:
# Ruta del archivo JSON
json_path_dogecoin = r'Dataset JSON/informacion general/dogecoin.json'

# Cargar el contenido del archivo JSON
with open(json_path_dogecoin, 'rb') as file:
    json_data_dogecoin = file.read().decode('utf-8')

# Convertir la cadena JSON en un diccionario
json_dict_dogecoin = json.loads(json_data_dogecoin)

# Normalizar el JSON y crear un DataFrame
dogecoin = pd.json_normalize(json_dict_dogecoin)

# Eliminar columnas nulas o que sean iguales a 0
dogecoin = dogecoin.dropna(axis=1, how='all')
dogecoin = dogecoin.loc[:, (dogecoin != 0).any(axis=0)]

# Eliminar columnas que contienen ciertas palabras clave
dogecoin = dogecoin[dogecoin.columns.drop(list(dogecoin.filter(regex='community')))]
dogecoin = dogecoin[dogecoin.columns.drop(list(dogecoin.filter(regex='market_data.ath')))]
dogecoin = dogecoin[dogecoin.columns.drop(list(dogecoin.filter(regex='description')))]

# Cambiar nombres de columnas
dogecoin = dogecoin.rename(columns={'market_data.circulating_supply': 'circulating_supply'})
dogecoin = dogecoin.rename(columns={'market_data.total_supply': 'total_supply'})

# Eliminar columnas no deseadas
dogecoin = dogecoin[dogecoin.columns.drop(list(dogecoin.filter(regex='market_data')))]
dogecoin = dogecoin[dogecoin.columns.drop(list(dogecoin.filter(regex='localization')))]
dogecoin = dogecoin[dogecoin.columns.drop(list(dogecoin.filter(regex='links')))]
dogecoin = dogecoin[dogecoin.columns.drop(list(dogecoin.filter(regex='image')))]
dogecoin = dogecoin[dogecoin.columns.drop(list(dogecoin.filter(regex='developer_data')))]
dogecoin = dogecoin[dogecoin.columns.drop(list(dogecoin.filter(regex='public_interest')))]
dogecoin

,id,symbol,name,block_time_in_minutes,hashing_algorithm,categories,additional_notices,country_origin,genesis_date,sentiment_votes_up_percentage,...,coingecko_score,developer_score,liquidity_score,status_updates,last_updated,tickers,platforms.,detail_platforms..contract_address,total_supply,circulating_supply
0,dogecoin,doge,Dogecoin,1,Scrypt,"[Cryptocurrency, BNB Chain Ecosystem, Meme]",[],,2013-12-08,67.57,...,65.012,75.114,66.788,[],2023-08-10T04:22:37.907Z,"[{'base': 'DOGE', 'target': 'USDT', 'market': ...",,,1.405276e+11,1.405278e+11

In [150]:

# Ruta del archivo JSON
json_path_ethereum = r'Dataset JSON/informacion general/ethereum.json'

# Cargar el contenido del archivo JSON
with open(json_path_ethereum, 'rb') as file:
    json_data_ethereum = file.read().decode('utf-8')

# Convertir la cadena JSON en un diccionario
json_dict_ethereum = json.loads(json_data_ethereum)

# Normalizar el JSON y crear un DataFrame
ethereum = pd.json_normalize(json_dict_ethereum)

# Eliminar columnas nulas o que sean iguales a 0
ethereum = ethereum.dropna(axis=1, how='all')
ethereum = ethereum.loc[:, (ethereum != 0).any(axis=0)]

# Eliminar columnas que contienen ciertas palabras clave
ethereum = ethereum[ethereum.columns.drop(list(ethereum.filter(regex='community')))]
ethereum = ethereum[ethereum.columns.drop(list(ethereum.filter(regex='market_data.ath')))]
ethereum = ethereum[ethereum.columns.drop(list(ethereum.filter(regex='description')))]

# Cambiar nombres de columnas
ethereum = ethereum.rename(columns={'market_data.circulating_supply': 'circulating_supply'})
ethereum = ethereum.rename(columns={'market_data.total_supply': 'total_supply'})

# Eliminar columnas no deseadas
ethereum = ethereum[ethereum.columns.drop(list(ethereum.filter(regex='market_data')))]
ethereum = ethereum[ethereum.columns.drop(list(ethereum.filter(regex='localization')))]
ethereum = ethereum[ethereum.columns.drop(list(ethereum.filter(regex='links')))]
ethereum = ethereum[ethereum.columns.drop(list(ethereum.filter(regex='image')))]
ethereum = ethereum[ethereum.columns.drop(list(ethereum.filter(regex='developer_data')))]
ethereum = ethereum[ethereum.columns.drop(list(ethereum.filter(regex='public_interest')))]
ethereum = ethereum[ethereum.columns.drop(list(ethereum.filter(regex='ico_data')))]
ethereum

,id,symbol,name,hashing_algorithm,categories,additional_notices,country_origin,genesis_date,sentiment_votes_up_percentage,sentiment_votes_down_percentage,...,coingecko_score,developer_score,liquidity_score,status_updates,last_updated,tickers,platforms.,detail_platforms..contract_address,total_supply,circulating_supply
0,ethereum,eth,Ethereum,Ethash,"[Smart Contract Platform, Layer 1 (L1), Ethere...",[],,2015-07-30,67.27,32.73,...,78.783,97.494,95.183,[],2023-08-10T04:18:44.864Z,"[{'base': 'ETH', 'target': 'USDT', 'market': {...",,,1.201525e+08,1.201525e+08

In [151]:
# Ruta del archivo JSON
json_path_matic = r'Dataset JSON/informacion general/matic.json'

# Cargar el contenido del archivo JSON
with open(json_path_matic, 'rb') as file:
    json_data_matic = file.read().decode('utf-8')

# Convertir la cadena JSON en un diccionario
json_dict_matic = json.loads(json_data_matic)

# Normalizar el JSON y crear un DataFrame
matic = pd.json_normalize(json_dict_matic)

# Eliminar columnas nulas o que sean iguales a 0
matic = matic.dropna(axis=1, how='all')
matic = matic.loc[:, (matic != 0).any(axis=0)]

# Eliminar columnas que contienen ciertas palabras clave
matic = matic[matic.columns.drop(list(matic.filter(regex='community')))]
matic = matic[matic.columns.drop(list(matic.filter(regex='market_data.ath')))]
matic = matic[matic.columns.drop(list(matic.filter(regex='description')))]

# Cambiar nombres de columnas
matic = matic.rename(columns={'market_data.circulating_supply': 'circulating_supply'})
matic = matic.rename(columns={'market_data.total_supply': 'total_supply'})

# Eliminar columnas no deseadas
matic = matic[matic.columns.drop(list(matic.filter(regex='market_data')))]
matic = matic[matic.columns.drop(list(matic.filter(regex='localization')))]
matic = matic[matic.columns.drop(list(matic.filter(regex='links')))]
matic = matic[matic.columns.drop(list(matic.filter(regex='image')))]
matic = matic[matic.columns.drop(list(matic.filter(regex='developer_data')))]
matic = matic[matic.columns.drop(list(matic.filter(regex='public_interest')))]
matic = matic[matic.columns.drop(list(matic.filter(regex='ico_data')))]
matic = matic[matic.columns.drop(list(matic.filter(regex='detail_platforms')))]
matic = matic[matic.columns.drop(list(matic.filter(regex='platforms')))]
matic

,id,symbol,name,asset_platform_id,categories,additional_notices,country_origin,contract_address,sentiment_votes_up_percentage,sentiment_votes_down_percentage,...,market_cap_rank,coingecko_rank,coingecko_score,developer_score,liquidity_score,status_updates,last_updated,tickers,total_supply,circulating_supply
0,matic-network,matic,Polygon,ethereum,"[Binance Launchpad, Alleged SEC Securities, Ze...",[],IN,0x7d1afa7b718fb893db30a3abc0cfc608aacfebb0,71.19,28.81,...,12,66,48.86,62.496,68.532,[],2023-08-10T20:16:34.640Z,"[{'base': 'MATIC', 'target': 'USDT', 'market':...",10000000000,9.319469e+09

In [152]:
# Ruta del archivo JSON
json_path_pepe = r'Dataset JSON/informacion general/pepe.json'

# Cargar el contenido del archivo JSON
with open(json_path_pepe, 'rb') as file:
    json_data_pepe = file.read().decode('utf-8')

# Convertir la cadena JSON en un diccionario
json_dict_pepe = json.loads(json_data_pepe)

# Normalizar el JSON y crear un DataFrame
pepe = pd.json_normalize(json_dict_pepe)

# Eliminar columnas nulas o que sean iguales a 0
pepe = pepe.dropna(axis=1, how='all')
pepe = pepe.loc[:, (pepe != 0).any(axis=0)]

# Eliminar columnas que contienen ciertas palabras clave
pepe = pepe[pepe.columns.drop(list(pepe.filter(regex='community')))]
pepe = pepe[pepe.columns.drop(list(pepe.filter(regex='market_data.ath')))]
pepe = pepe[pepe.columns.drop(list(pepe.filter(regex='description')))]

# Cambiar nombres de columnas
pepe = pepe.rename(columns={'market_data.circulating_supply': 'circulating_supply'})
pepe = pepe.rename(columns={'market_data.total_supply': 'total_supply'})

# Eliminar columnas no deseadas
pepe = pepe[pepe.columns.drop(list(pepe.filter(regex='market_data')))]
pepe = pepe[pepe.columns.drop(list(pepe.filter(regex='localization')))]
pepe = pepe[pepe.columns.drop(list(pepe.filter(regex='links')))]
pepe = pepe[pepe.columns.drop(list(pepe.filter(regex='image')))]
pepe = pepe[pepe.columns.drop(list(pepe.filter(regex='developer_data')))]
pepe = pepe[pepe.columns.drop(list(pepe.filter(regex='public_interest')))]
pepe = pepe[pepe.columns.drop(list(pepe.filter(regex='ico_data')))]
pepe

,id,symbol,name,asset_platform_id,categories,additional_notices,country_origin,contract_address,sentiment_votes_up_percentage,sentiment_votes_down_percentage,...,platforms.binance-smart-chain,platforms.arbitrum-one,detail_platforms.ethereum.decimal_place,detail_platforms.ethereum.contract_address,detail_platforms.binance-smart-chain.decimal_place,detail_platforms.binance-smart-chain.contract_address,detail_platforms.arbitrum-one.decimal_place,detail_platforms.arbitrum-one.contract_address,total_supply,circulating_supply
0,pepe,pepe,Pepe,ethereum,"[Arbitrum Ecosystem, BNB Chain Ecosystem, Ethe...",[],,0x6982508145454ce325ddbe47a25d4ec3d2311933,76.54,23.46,...,0x25d887ce7a35172c62febfd67a1856f20faebb00,0x25d887ce7a35172c62febfd67a1856f20faebb00,18,0x6982508145454ce325ddbe47a25d4ec3d2311933,18,0x25d887ce7a35172c62febfd67a1856f20faebb00,18,0x25d887ce7a35172c62febfd67a1856f20faebb00,420690000000000,420690000000000

In [153]:

# Ruta del archivo JSON
json_path_usdt = r'Dataset JSON/informacion general/usdt.json'

# Cargar el contenido del archivo JSON
with open(json_path_usdt, 'rb') as file:
    json_data_usdt = file.read().decode('utf-8')

# Convertir la cadena JSON en un diccionario
json_dict_usdt = json.loads(json_data_usdt)

# Normalizar el JSON y crear un DataFrame
usdt = pd.json_normalize(json_dict_usdt)

# Eliminar columnas nulas o que sean iguales a 0
usdt = usdt.dropna(axis=1, how='all')
usdt = usdt.loc[:, (usdt != 0).any(axis=0)]

# Eliminar columnas que contienen ciertas palabras clave
usdt = usdt[usdt.columns.drop(list(usdt.filter(regex='community')))]
usdt = usdt[usdt.columns.drop(list(usdt.filter(regex='market_data.ath')))]
usdt = usdt[usdt.columns.drop(list(usdt.filter(regex='description')))]

# Cambiar nombres de columnas
usdt = usdt.rename(columns={'market_data.circulating_supply': 'circulating_supply'})
usdt = usdt.rename(columns={'market_data.total_supply': 'total_supply'})

# Eliminar columnas no deseadas
usdt = usdt[usdt.columns.drop(list(usdt.filter(regex='market_data')))]
usdt = usdt[usdt.columns.drop(list(usdt.filter(regex='localization')))]
usdt = usdt[usdt.columns.drop(list(usdt.filter(regex='links')))]
usdt = usdt[usdt.columns.drop(list(usdt.filter(regex='image')))]
usdt = usdt[usdt.columns.drop(list(usdt.filter(regex='developer_data')))]
usdt = usdt[usdt.columns.drop(list(usdt.filter(regex='public_interest')))]
usdt = usdt[usdt.columns.drop(list(usdt.filter(regex='ico_data')))]
usdt = usdt[usdt.columns.drop(list(usdt.filter(regex='platforms')))]
usdt

,id,symbol,name,asset_platform_id,categories,additional_notices,country_origin,contract_address,sentiment_votes_up_percentage,sentiment_votes_down_percentage,watchlist_portfolio_users,market_cap_rank,coingecko_rank,coingecko_score,liquidity_score,status_updates,last_updated,tickers,total_supply,circulating_supply
0,tether,usdt,Tether,ethereum,"[Mantle Ecosystem, Solana Ecosystem, Canto Eco...",[],,0xdac17f958d2ee523a2206206994597c13d831ec7,60,40,283004,3,150,41.416,101.651,[],2023-08-10T20:10:00.399Z,"[{'base': 'USDC', 'target': 'USDT', 'market': ...",8.353293e+10,8.353293e+10

In [154]:

# Ruta del archivo JSON
json_path_worldcoin = r'Dataset JSON/informacion general/worldcoin.json'

# Cargar el contenido del archivo JSON
with open(json_path_worldcoin, 'rb') as file:
    json_data_worldcoin = file.read().decode('utf-8')

# Convertir la cadena JSON en un diccionario
json_dict_worldcoin = json.loads(json_data_worldcoin)

# Normalizar el JSON y crear un DataFrame
worldcoin = pd.json_normalize(json_dict_worldcoin)

# Eliminar columnas nulas o que sean iguales a 0
worldcoin = worldcoin.dropna(axis=1, how='all')
worldcoin = worldcoin.loc[:, (worldcoin != 0).any(axis=0)]

# Eliminar columnas que contienen ciertas palabras clave
worldcoin = worldcoin[worldcoin.columns.drop(list(worldcoin.filter(regex='community')))]
worldcoin = worldcoin[worldcoin.columns.drop(list(worldcoin.filter(regex='market_data.ath')))]
worldcoin = worldcoin[worldcoin.columns.drop(list(worldcoin.filter(regex='description')))]

# Cambiar nombres de columnas
worldcoin = worldcoin.rename(columns={'market_data.circulating_supply': 'circulating_supply'})
worldcoin = worldcoin.rename(columns={'market_data.total_supply': 'total_supply'})

# Eliminar columnas no deseadas
worldcoin = worldcoin[worldcoin.columns.drop(list(worldcoin.filter(regex='market_data')))]
worldcoin = worldcoin[worldcoin.columns.drop(list(worldcoin.filter(regex='localization')))]
worldcoin = worldcoin[worldcoin.columns.drop(list(worldcoin.filter(regex='links')))]
worldcoin = worldcoin[worldcoin.columns.drop(list(worldcoin.filter(regex='image')))]
worldcoin = worldcoin[worldcoin.columns.drop(list(worldcoin.filter(regex='developer_data')))]
worldcoin = worldcoin[worldcoin.columns.drop(list(worldcoin.filter(regex='public_interest')))]
worldcoin = worldcoin[worldcoin.columns.drop(list(worldcoin.filter(regex='ico_data')))]
worldcoin = worldcoin[worldcoin.columns.drop(list(worldcoin.filter(regex='platforms')))]
worldcoin

,id,symbol,name,hashing_algorithm,categories,additional_notices,country_origin,genesis_date,watchlist_portfolio_users,market_cap_rank,coingecko_rank,coingecko_score,developer_score,liquidity_score,status_updates,last_updated,tickers,total_supply,circulating_supply
0,worldcoin,wdc,WorldCoin,Scrypt,[],[],,2013-05-14,3582,3608,2686,11.995,26.498,1,[],2023-08-10T20:06:50.888Z,"[{'base': 'WDC', 'target': 'USDT', 'market': {...",265000000,18450

In [155]:

# Ruta del archivo JSON
json_path_xrp = r'Dataset JSON/informacion general/xrp.json'

# Cargar el contenido del archivo JSON
with open(json_path_xrp, 'rb') as file:
    json_data_xrp = file.read().decode('utf-8')

# Convertir la cadena JSON en un diccionario
json_dict_xrp = json.loads(json_data_xrp)

# Normalizar el JSON y crear un DataFrame
xrp = pd.json_normalize(json_dict_xrp)

# Eliminar columnas nulas o que sean iguales a 0
xrp = xrp.dropna(axis=1, how='all')
xrp = xrp.loc[:, (xrp != 0).any(axis=0)]

# Eliminar columnas que contienen ciertas palabras clave
xrp = xrp[xrp.columns.drop(list(xrp.filter(regex='community')))]
xrp = xrp[xrp.columns.drop(list(xrp.filter(regex='market_data.ath')))]
xrp = xrp[xrp.columns.drop(list(xrp.filter(regex='description')))]

# Cambiar nombres de columnas
xrp = xrp.rename(columns={'market_data.circulating_supply': 'circulating_supply'})
xrp = xrp.rename(columns={'market_data.total_supply': 'total_supply'})

# Eliminar columnas no deseadas
xrp = xrp[xrp.columns.drop(list(xrp.filter(regex='market_data')))]
xrp = xrp[xrp.columns.drop(list(xrp.filter(regex='localization')))]
xrp = xrp[xrp.columns.drop(list(xrp.filter(regex='links')))]
xrp = xrp[xrp.columns.drop(list(xrp.filter(regex='image')))]
xrp = xrp[xrp.columns.drop(list(xrp.filter(regex='developer_data')))]
xrp = xrp[xrp.columns.drop(list(xrp.filter(regex='public_interest')))]
xrp = xrp[xrp.columns.drop(list(xrp.filter(regex='ico_data')))]
xrp = xrp[xrp.columns.drop(list(xrp.filter(regex='platforms')))]
xrp

,id,symbol,name,categories,additional_notices,country_origin,sentiment_votes_up_percentage,sentiment_votes_down_percentage,watchlist_portfolio_users,market_cap_rank,coingecko_rank,coingecko_score,developer_score,liquidity_score,status_updates,last_updated,tickers,total_supply,circulating_supply
0,ripple,xrp,XRP,[Cryptocurrency],[],,77.56,22.44,566466,5,3,66.223,83.005,81.07,[],2023-08-10T20:12:06.736Z,"[{'base': 'XRP', 'target': 'USDT', 'market': {...",99988519823,52787284454

In [156]:
#Ahora uniremos todos los dataframe por interseccion entre sus columnas
#Para ello usaremos la funcion merge de pandas

# Lista de los DataFrames que has creado
dataframes = [arkham, bnb, usdt, bitcoin, dogecoin, ethereum, matic, pepe, worldcoin, xrp]

# Concatenar los DataFrames
combined_crip = pd.concat(dataframes, ignore_index=True)
combined_crip = combined_crip[combined_crip.columns.drop(list(combined_crip.filter(regex='platform')))]

#volvemos a eliminar las columnas donde haya listas vacias o nulas
combined_crip = combined_crip.drop


#Convertimos combined_crip en un dataframe de pandas
combined_crip = pd.DataFrame(combined_crip)

ValueError: DataFrame constructor not properly called!

In [ ]:
#Cambiaremos los valores de "country_origin" donde sean nulos por "unknown"
#combined_crip['country_origin'] = combined_crip['country_origin'].replace('', 'Unknown')
combined_crip['country_origin']

TypeError: 'method' object is not subscriptable

In [ ]:
#lo pasamos a un archivo csv
combined_crip.to_csv('Informacion General.csv', index=False)

In [148]:
#Ahora leeremos las capitalizaciones y cotizaciones de las criptomonedas a lo largo del tiempo, para ello usaremos la API de CoinGecko tambien.
arkham_cap_json = r'Dataset JSON/capitalizacion y cotizacion/arkham.json'
bitcoin_cap_json = r'Dataset JSON/capitalizacion y cotizacion/bitcoin.json'
ethereum_cap_json = r'Dataset JSON/capitalizacion y cotizacion/ethereum.json'
dogecoin_cap_json = r'Dataset JSON/capitalizacion y cotizacion/dogecoin.json'
usdt_cap_json = r'Dataset JSON/capitalizacion y cotizacion/usdt.json'
xrp_cap_json = r'Dataset JSON/capitalizacion y cotizacion/xrp.json'
matic_cap_json = r'Dataset JSON/capitalizacion y cotizacion/matic.json'
worldcoin_cap_json = r'Dataset JSON/capitalizacion y cotizacion/worldcoin.json'
pepe_cap_json = r'Dataset JSON/capitalizacion y cotizacion/pepe.json'
bnb_cap_json = r'Dataset JSON/capitalizacion y cotizacion/bnb.json'

In [149]:
# Load the content of the JSON file
with open(arkham_cap_json, 'r') as file:
    arkham_cap_content = file.read()

# Convert the JSON string into a dictionary
arkham_cap = json.loads(arkham_cap_content)

# Normalize the JSON and create a DataFrame
arkham = pd.json_normalize(arkham_cap)

# Convertir las listas anidadas en filas individuales para la columna 'prices'
prices_data = arkham_cap['prices']
prices_df_arkham = pd.DataFrame(prices_data, columns=['market_cap', 'price'])
#Haremos una columna dia numero para poder hacer un plot de la evolucion de los precios y esta sera en funcion del indice de fila
prices_df_arkham['dia'] = prices_df_arkham.index
prices_df_arkham['capitalizacion propia'] = prices_df_arkham['price'] * 150268131
prices_df_arkham['capitalizacion propia'] = prices_df_arkham['capitalizacion propia'].astype(int)
prices_df_arkham = prices_df_arkham.tail(30)
prices_df_arkham = prices_df_arkham.reset_index(drop=True)
prices_df_arkham['dia'] = prices_df_arkham.index + 1
prices_df_arkham

       market_cap     price  dia  capitalizacion propia
0   1690243200000  0.530439    1               79708115
1   1690329600000  0.512679    2               77039306
2   1690416000000  0.543409    3               81656989
3   1690502400000  0.557870    4               83830090
4   1690588800000  0.541070    5               81305615
5   1690675200000  0.520037    6               78144923
6   1690761600000  0.505134    7               75905614
7   1690848000000  0.508447    8               76403429
8   1690934400000  0.506081    9               76047903
9   1691020800000  0.470809   10               70747601
10  1691107200000  0.459826   11               69097166
11  1691193600000  0.455571   12               68457848
12  1691280000000  0.423871   13               63694300
13  1691366400000  0.442911   14               66555373
14  1691452800000  0.421356   15               63316385
15  1691539200000  0.421502   16               63338370
16  1691625600000  0.424579   17               63800698
17  1691712000000  0.412053   18               61918400
18  1691798400000  0.419833   19               63087535
19  1691884800000  0.435984   20               65514483
20  1691971200000  0.425877   21               63995757
21  1692057600000  0.429669   22               64565503
22  1692144000000  0.367175   23               55174642
23  1692230400000  0.379371   24               57007396
24  1692316800000  0.371846   25               55876633
25  1692403200000  0.406836   26               61134435
26  1692489600000  0.401661   27               60356864
27  1692576000000  0.404077   28               60719881
28  1692662400000  0.411551   29               61843017
29  1692738844000  0.386251   30               58041223

In [150]:

with open(bitcoin_cap_json, 'r') as file:
    bitcoin_cap_content = file.read()

# Convertir el JSON en un diccionario
bitcoin_cap = json.loads(bitcoin_cap_content)

# Normalize the JSON and create a DataFrame
bitcoin = pd.json_normalize(bitcoin_cap)

# Convertir las listas anidadas en filas individuales para la columna 'prices'
prices_data = bitcoin_cap['prices']
prices_df_bitcoin = pd.DataFrame(prices_data, columns=['market_cap', 'price'])
#Haremos una columna día número para poder hacer un plot de la evolución de los precios y esta será en función del índice de fila
prices_df_bitcoin['dia'] = prices_df_bitcoin.index
prices_df_bitcoin['capitalizacion propia'] = prices_df_bitcoin['price'] * 19463025
prices_df_bitcoin['capitalizacion propia'] = prices_df_bitcoin['capitalizacion propia'].astype(int)
prices_df_bitcoin = prices_df_bitcoin.tail(30)
prices_df_bitcoin = prices_df_bitcoin.reset_index(drop=True)
prices_df_bitcoin['dia'] = prices_df_bitcoin.index + 1
prices_df_bitcoin

       market_cap         price  dia  capitalizacion propia
0   1690243200000  29184.901913    1           568026475556
1   1690329600000  29222.974630    2           568767485805
2   1690416000000  29363.672908    3           571505899899
3   1690502400000  29200.244001    4           568325079003
4   1690588800000  29314.097387    5           570541010297
5   1690675200000  29356.747746    6           571371115297
6   1690761600000  29277.755810    7           569833693279
7   1690848000000  29233.136366    8           568965263911
8   1690934400000  29537.109747    9           574881505432
9   1691020800000  29146.636271   10           567281710405
10  1691107200000  29176.150597   11           567856148465
11  1691193600000  29087.938086   12           566139266166
12  1691280000000  29046.800457   13           565338603465
13  1691366400000  29044.204376   14           565288075866
14  1691452800000  29178.147752   15           567895019148
15  1691539200000  29779.561671   16           579600353296
16  1691625600000  29585.488077   17           575823094087
17  1691712000000  29423.818916   18           572676523157
18  1691798400000  29396.847971   19           572151586988
19  1691884800000  29412.142275   20           572449260393
20  1691971200000  29284.969714   21           569974097662
21  1692057600000  29400.586804   22           572224355984
22  1692144000000  29170.490397   23           567745983860
23  1692230400000  28754.197021   24           559643655476
24  1692316800000  26501.587270   25           515801055574
25  1692403200000  26042.838257   26           506872412064
26  1692489600000  26104.778631   27           508077959110
27  1692576000000  26160.700420   28           509166366288
28  1692662400000  26119.005959   29           508354865947
29  1692715955000  25997.432175   30           505988672350

In [151]:
with open(bnb_cap_json, 'r') as file:
    bnb_cap_content = file.read()

# Convertir el JSON en un diccionario
bnb_cap = json.loads(bnb_cap_content)

# Normalize the JSON and create a DataFrame
bnb = pd.json_normalize(bnb_cap)

# Convertir las listas anidadas en filas individuales para la columna 'prices'
prices_data = bnb_cap['prices']
prices_df_bnb = pd.DataFrame(prices_data, columns=['market_cap', 'price'])
#Haremos una columna día número para poder hacer un plot de la evolución de los precios y esta será en función del índice de fila
prices_df_bnb['dia'] = prices_df_bnb.index
prices_df_bnb['capitalizacion propia'] = prices_df_bnb['price'] * 153851498
prices_df_bnb['capitalizacion propia'] = prices_df_bnb['capitalizacion propia'].astype(int)
prices_df_bnb = prices_df_bnb.tail(30)
prices_df_bnb = prices_df_bnb.reset_index(drop=True)
prices_df_bnb['dia'] = prices_df_bnb.index + 1
prices_df_bnb

       market_cap       price  dia  capitalizacion propia
0   1690243200000  238.965494    1            36765199291
1   1690329600000  237.730347    2            36575170041
2   1690416000000  239.020092    3            36773599162
3   1690502400000  240.417367    4            36988571995
4   1690588800000  241.857825    5            37210188753
5   1690675200000  242.556325    6            37317654012
6   1690761600000  242.540332    7            37315193356
7   1690848000000  241.193557    8            37107990046
8   1690934400000  247.428737    9            38067281762
9   1691020800000  240.379008   10            36982670408
10  1691107200000  241.143787   11            37100332933
11  1691193600000  241.492208   12            37153937888
12  1691280000000  242.881970   13            37367754923
13  1691366400000  242.574998   14            37320526828
14  1691452800000  241.738425   15            37191818756
15  1691539200000  245.179427   16            37721222198
16  1691625600000  244.010315   17            37541352463
17  1691712000000  241.231912   18            37113891013
18  1691798400000  239.595822   19            36862176103
19  1691884800000  240.088445   20            36937966935
20  1691971200000  240.030792   21            36929096984
21  1692057600000  240.358056   22            36979446990
22  1692144000000  236.607285   23            36402385229
23  1692230400000  232.095486   24            35708238158
24  1692316800000  217.795538   25            33508169754
25  1692403200000  215.972916   26            33227756621
26  1692489600000  217.075522   27            33397394200
27  1692576000000  216.240448   28            33268916846
28  1692662400000  210.588285   29            32399323059
29  1692696043000  210.002105   30            32309138394

In [152]:
with open(dogecoin_cap_json, 'r') as file:
    dogecoin_cap_content = file.read()

# Convertir el JSON en un diccionario
dogecoin_cap = json.loads(dogecoin_cap_content)

# Normalize the JSON and create a DataFrame
dogecoin = pd.json_normalize(dogecoin_cap)

# Convertir las listas anidadas en filas individuales para la columna 'prices'
prices_data = dogecoin_cap['prices']
prices_df_dogecoin = pd.DataFrame(prices_data, columns=['market_cap', 'price'])
#Haremos una columna día número para poder hacer un plot de la evolución de los precios y esta será en función del índice de fila
prices_df_dogecoin['dia'] = prices_df_dogecoin.index
prices_df_dogecoin['capitalizacion propia'] = prices_df_dogecoin['price'] * 140698136384
prices_df_dogecoin['capitalizacion propia'] = prices_df_dogecoin['capitalizacion propia'].astype(int)
prices_df_dogecoin = prices_df_dogecoin.tail(30)
prices_df_dogecoin = prices_df_dogecoin.reset_index(drop=True)
prices_df_dogecoin['dia'] = prices_df_dogecoin.index + 1
prices_df_dogecoin

       market_cap     price  dia  capitalizacion propia
0   1690243200000  0.074431    1            10472319023
1   1690329600000  0.081719    2            11497737885
2   1690416000000  0.077942    3            10966229671
3   1690502400000  0.077524    4            10907439407
4   1690588800000  0.077283    5            10873634531
5   1690675200000  0.080199    6            11283863946
6   1690761600000  0.078035    7            10979332769
7   1690848000000  0.077873    8            10956515796
8   1690934400000  0.077873    9            10956644752
9   1691020800000  0.074167   10            10435103855
10  1691107200000  0.073642   11            10361299330
11  1691193600000  0.073471   12            10337254096
12  1691280000000  0.075603   13            10637202661
13  1691366400000  0.074149   14            10432583889
14  1691452800000  0.073374   15            10323649609
15  1691539200000  0.075010   16            10553787104
16  1691625600000  0.075385   17            10606517471
17  1691712000000  0.075759   18            10659170774
18  1691798400000  0.075714   19            10652780219
19  1691884800000  0.076696   20            10791034023
20  1691971200000  0.074778   21            10521090002
21  1692057600000  0.074764   22            10519204322
22  1692144000000  0.070818   23             9963979746
23  1692230400000  0.067312   24             9470736921
24  1692316800000  0.061057   25             8590649282
25  1692403200000  0.063189   26             8890575667
26  1692489600000  0.063734   27             8967240721
27  1692576000000  0.063744   28             8968624219
28  1692662400000  0.062501   29             8793796312
29  1692720599000  0.062360   30             8773872022

In [153]:
with open(ethereum_cap_json, 'r') as file:
    ethereum_cap_content = file.read()

# Convertir el JSON en un diccionario
ethereum_cap = json.loads(ethereum_cap_content)

# Normalize the JSON and create a DataFrame
ethereum = pd.json_normalize(ethereum_cap)

# Convertir las listas anidadas en filas individuales para la columna 'prices'
prices_data = ethereum_cap['prices']
prices_df_ethereum = pd.DataFrame(prices_data, columns=['market_cap', 'price'])
#Haremos una columna día número para poder hacer un plot de la evolución de los precios y esta será en función del índice de fila
prices_df_ethereum['dia'] = prices_df_ethereum.index
prices_df_ethereum['capitalizacion propia'] = prices_df_ethereum['price'] * 120211068
prices_df_ethereum['capitalizacion propia'] = prices_df_ethereum['capitalizacion propia'].astype(int)
prices_df_ethereum = prices_df_ethereum.tail(30)
prices_df_ethereum = prices_df_ethereum.reset_index(drop=True)
prices_df_ethereum['dia'] = prices_df_ethereum.index + 1
prices_df_ethereum

       market_cap        price  dia  capitalizacion propia
0   1690243200000  1850.431151    1           222442304872
1   1690329600000  1857.596593    2           223303670327
2   1690416000000  1871.533106    3           224978993434
3   1690502400000  1858.777021    4           223445570914
4   1690588800000  1874.693995    5           225358967321
5   1690675200000  1880.918077    6           226107170800
6   1690761600000  1861.869910    7           223817370333
7   1690848000000  1857.276196    8           223265155063
8   1690934400000  1869.745109    9           224764056400
9   1691020800000  1838.011952   10           220949379731
10  1691107200000  1835.701303   11           220671614123
11  1691193600000  1828.461194   12           219801272900
12  1691280000000  1835.070578   13           220595794017
13  1691366400000  1826.706779   14           219590372858
14  1691452800000  1826.933486   15           219617625465
15  1691539200000  1856.844145   16           223213217721
16  1691625600000  1855.890727   17           223098606423
17  1691712000000  1850.876989   18           222495899548
18  1691798400000  1847.541835   19           222094977173
19  1691884800000  1848.505239   20           222210788942
20  1691971200000  1839.512810   21           221129799434
21  1692057600000  1843.513391   22           221610713605
22  1692144000000  1826.913128   23           219615178279
23  1692230400000  1809.460474   24           217517176115
24  1692316800000  1675.862171   25           201457181390
25  1692403200000  1660.679110   26           199632009361
26  1692489600000  1669.233455   27           200660336343
27  1692576000000  1682.461825   28           202250532869
28  1692662400000  1666.840465   29           200372672543
29  1692715670000  1656.408455   30           199118629437

In [154]:
with open(matic_cap_json, 'r') as file:
    matic_cap_content = file.read()

# Convertir el JSON en un diccionario
matic_cap = json.loads(matic_cap_content)

# Normalize the JSON and create a DataFrame
matic = pd.json_normalize(matic_cap)

# Convertir las listas anidadas en filas individuales para la columna 'prices'
prices_data = matic_cap['prices']
prices_df_matic = pd.DataFrame(prices_data, columns=['market_cap', 'price'])
#Haremos una columna día número para poder hacer un plot de la evolución de los precios y esta será en función del índice de fila
prices_df_matic['dia'] = prices_df_matic.index
prices_df_matic['capitalizacion propia'] = prices_df_matic['price'] * 9319469069
prices_df_matic['capitalizacion propia'] = prices_df_matic['capitalizacion propia'].astype(int)
prices_df_matic = prices_df_matic.tail(30)
prices_df_matic = prices_df_matic.reset_index(drop=True)
prices_df_matic['dia'] = prices_df_matic.index + 1
prices_df_matic

       market_cap     price  dia  capitalizacion propia
0   1690243200000  0.728412    1             6788408769
1   1690329600000  0.708470    2             6602559704
2   1690416000000  0.722021    3             6728852120
3   1690502400000  0.716060    4             6673301871
4   1690588800000  0.709453    5             6611722434
5   1690675200000  0.718811    6             6698934019
6   1690761600000  0.697725    7             6502422222
7   1690848000000  0.688207    8             6413727608
8   1690934400000  0.698898    9             6513354300
9   1691020800000  0.680097   10             6338141812
10  1691107200000  0.668413   11             6229250379
11  1691193600000  0.664277   12             6190707483
12  1691280000000  0.666194   13             6208577257
13  1691366400000  0.665654   14             6203539349
14  1691452800000  0.664615   15             6193858212
15  1691539200000  0.685845   16             6391712047
16  1691625600000  0.690920   17             6439009544
17  1691712000000  0.684658   18             6380653413
18  1691798400000  0.680381   19             6340793666
19  1691884800000  0.681371   20             6350020172
20  1691971200000  0.677199   21             6311136432
21  1692057600000  0.679426   22             6331890749
22  1692144000000  0.638877   23             5953998651
23  1692230400000  0.623792   24             5813411435
24  1692316800000  0.571830   25             5329155934
25  1692403200000  0.577358   26             5380669112
26  1692489600000  0.576565   27             5373275276
27  1692576000000  0.579504   28             5400670438
28  1692662400000  0.557395   29             5194629040
29  1692725548000  0.531426   30             4952603533

In [155]:
with open(pepe_cap_json, 'r') as file:
    pepe_cap_content = file.read()

# Convertir el JSON en un diccionario
pepe_cap = json.loads(pepe_cap_content)

# Normalize the JSON and create a DataFrame
pepe = pd.json_normalize(pepe_cap)

# Convertir las listas anidadas en filas individuales para la columna 'prices'
prices_data = pepe_cap['prices']
prices_df_pepe = pd.DataFrame(prices_data, columns=['market_cap', 'price'])
# Haremos una columna día número para poder hacer un plot de la evolución de los precios y esta será en función del índice de fila
prices_df_pepe['dia'] = prices_df_pepe.index
prices_df_pepe['capitalizacion propia'] = prices_df_pepe['price'] * 379790000000000
prices_df_pepe['capitalizacion propia'] = prices_df_pepe['capitalizacion propia'].astype(int)
prices_df_pepe = prices_df_pepe.tail(30)
prices_df_pepe = prices_df_pepe.reset_index(drop=True)
prices_df_pepe['dia'] = prices_df_pepe.index + 1
prices_df_pepe

       market_cap     price  dia  capitalizacion propia
0   1690243200000  0.000001    1              511866257
1   1690329600000  0.000001    2              497758368
2   1690416000000  0.000001    3              507047914
3   1690502400000  0.000001    4              510784658
4   1690588800000  0.000001    5              509647443
5   1690675200000  0.000001    6              514150969
6   1690761600000  0.000001    7              492697982
7   1690848000000  0.000001    8              469938990
8   1690934400000  0.000001    9              483427096
9   1691020800000  0.000001   10              461740163
10  1691107200000  0.000001   11              455775528
11  1691193600000  0.000001   12              438844176
12  1691280000000  0.000001   13              438619175
13  1691366400000  0.000001   14              439660525
14  1691452800000  0.000001   15              423580250
15  1691539200000  0.000001   16              446461625
16  1691625600000  0.000001   17              469210363
17  1691712000000  0.000001   18              467727070
18  1691798400000  0.000001   19              473420590
19  1691884800000  0.000001   20              511666605
20  1691971200000  0.000001   21              519519028
21  1692057600000  0.000001   22              535377304
22  1692144000000  0.000001   23              481454634
23  1692230400000  0.000001   24              443087494
24  1692316800000  0.000001   25              410161526
25  1692403200000  0.000001   26              414161632
26  1692489600000  0.000001   27              431094667
27  1692576000000  0.000001   28              429039287
28  1692662400000  0.000001   29              413595942
29  1692732481000  0.000001   30              396039988

In [156]:
with open(usdt_cap_json, 'r') as file:
    usdt_cap_content = file.read()

# Convertir el JSON en un diccionario
usdt_cap = json.loads(usdt_cap_content)

# Normalize the JSON and create a DataFrame
usdt = pd.json_normalize(usdt_cap)

# Convertir las listas anidadas en filas individuales para la columna 'prices'
prices_data = usdt_cap['prices']
prices_df_usdt = pd.DataFrame(prices_data, columns=['market_cap', 'price'])
# Haremos una columna día número para poder hacer un plot de la evolución de los precios y esta será en función del índice de fila

prices_df_usdt['capitalizacion propia'] = prices_df_usdt['price'] * 82853221628
prices_df_usdt['capitalizacion propia'] = prices_df_usdt['capitalizacion propia'].astype(int)
prices_df_usdt = prices_df_usdt.tail(30)
prices_df_usdt = prices_df_usdt.reset_index(drop=True)
prices_df_usdt['dia'] = prices_df_usdt.index + 1
prices_df_usdt

       market_cap     price  capitalizacion propia  dia
0   1690243200000  1.000097            82861285697    1
1   1690329600000  0.999606            82820599878    2
2   1690416000000  1.000833            82922205585    3
3   1690502400000  0.999740            82831644373    4
4   1690588800000  0.999945            82848696595    5
5   1690675200000  0.999975            82851111752    6
6   1690761600000  1.000238            82872927917    7
7   1690848000000  0.999867            82842188110    8
8   1690934400000  0.999942            82848382676    9
9   1691020800000  0.999242            82790411668   10
10  1691107200000  0.998680            82743843262   11
11  1691193600000  0.998912            82763118374   12
12  1691280000000  0.998987            82769285184   13
13  1691366400000  0.998320            82714015098   14
14  1691452800000  0.998873            82759858748   15
15  1691539200000  0.999945            82848705979   16
16  1691625600000  0.999712            82829360582   17
17  1691712000000  0.998899            82761998692   18
18  1691798400000  0.998938            82765224977   19
19  1691884800000  0.999377            82801620507   20
20  1691971200000  0.999384            82802154160   21
21  1692057600000  0.998713            82746560471   22
22  1692144000000  0.998893            82761538762   23
23  1692230400000  0.999750            82832518224   24
24  1692316800000  0.996174            82536260888   25
25  1692403200000  0.999381            82801920650   26
26  1692489600000  1.000243            82873374631   27
27  1692576000000  0.999208            82787588717   28
28  1692662400000  0.999832            82839314636   29
29  1692712801000  0.999645            82823780815   30

In [157]:
with open(worldcoin_cap_json, 'r') as file:
    worldcoin_cap_content = file.read()

# Convertir el JSON en un diccionario
worldcoin_cap = json.loads(worldcoin_cap_content)

# Normalize the JSON and create a DataFrame
worldcoin = pd.json_normalize(worldcoin_cap)

# Convertir las listas anidadas en filas individuales para la columna 'prices'
prices_data = worldcoin_cap['prices']
prices_df_worldcoin = pd.DataFrame(prices_data, columns=['market_cap', 'price'])
# Haremos una columna día número para poder hacer un plot de la evolución de los precios y esta será en función del índice de fila
prices_df_worldcoin['dia'] = prices_df_worldcoin.index
prices_df_worldcoin['capitalizacion propia'] = prices_df_worldcoin['price'] * 126706287
prices_df_worldcoin['capitalizacion propia'] = prices_df_worldcoin['capitalizacion propia'].astype(int)
prices_df_worldcoin = prices_df_worldcoin.tail(30)
prices_df_worldcoin = prices_df_worldcoin.reset_index(drop=True)
prices_df_worldcoin['dia'] = prices_df_worldcoin.index + 1

In [158]:
prices_df_worldcoin

       market_cap     price  dia  capitalizacion propia
0   1690243200000  2.186258    1              277012624
1   1690329600000  2.280031    2              288894259
2   1690416000000  2.240589    3              283896675
3   1690502400000  2.101936    4              266328567
4   1690588800000  2.221849    5              281522189
5   1690675200000  2.349079    6              297643080
6   1690761600000  2.285819    7              289627672
7   1690848000000  2.319305    8              293870488
8   1690934400000  2.429513    9              307834625
9   1691020800000  2.358061   10              298781180
10  1691107200000  2.330926   11              295342945
11  1691193600000  2.169352   12              274870539
12  1691280000000  2.120689   13              268704691
13  1691366400000  2.041380   14              258655646
14  1691452800000  2.038029   15              258231037
15  1691539200000  1.935335   16              245219167
16  1691625600000  1.831577   17              232072282
17  1691712000000  1.678098   18              212625578
18  1691798400000  1.743258   19              220881691
19  1691884800000  1.756452   20              222553497
20  1691971200000  1.771794   21              224497447
21  1692057600000  1.772205   22              224549525
22  1692144000000  1.616907   23              204872327
23  1692230400000  1.524543   24              193169181
24  1692316800000  1.359168   25              172215154
25  1692403200000  1.546127   26              195904062
26  1692489600000  1.478852   27              187379847
27  1692576000000  1.467004   28              185878662
28  1692662400000  1.472841   29              186618228
29  1692739307000  1.416333   30              179458276

In [159]:
with open(xrp_cap_json, 'r') as file:
    xrp_cap_content = file.read()

# Convertir el JSON en un diccionario
xrp_cap = json.loads(xrp_cap_content)

# Normalize the JSON and create a DataFrame
xrp = pd.json_normalize(xrp_cap)

# Convertir las listas anidadas en filas individuales para la columna 'prices'
prices_data = xrp_cap['prices']
prices_df_xrp = pd.DataFrame(prices_data, columns=['market_cap', 'price'])
# Haremos una columna día número para poder hacer un plot de la evolución de los precios y esta será en función del índice de fila

prices_df_xrp['capitalizacion propia'] = prices_df_xrp['price'] * 52841868447
prices_df_xrp['capitalizacion propia'] = prices_df_xrp['capitalizacion propia'].astype(int)
prices_df_xrp = prices_df_xrp.tail(30)
prices_df_xrp = prices_df_xrp.reset_index(drop=True)
prices_df_xrp['dia'] = prices_df_xrp.index + 1
prices_df_xrp

       market_cap     price  capitalizacion propia  dia
0   1690243200000  0.703525            37175596287    1
1   1690329600000  0.710253            37531083910    2
2   1690416000000  0.715877            37828304058    3
3   1690502400000  0.713436            37699279759    4
4   1690588800000  0.712297            37639082505    5
5   1690675200000  0.712607            37655493764    6
6   1690761600000  0.704911            37248819268    7
7   1690848000000  0.699030            36938066261    8
8   1690934400000  0.707216            37370588957    9
9   1691020800000  0.684740            36182926469   10
10  1691107200000  0.664210            35098119903   11
11  1691193600000  0.635810            33597391147   12
12  1691280000000  0.628430            33207427752   13
13  1691366400000  0.622153            32875739330   14
14  1691452800000  0.620838            32806237761   15
15  1691539200000  0.642624            33957463445   16
16  1691625600000  0.643605            34009301639   17
17  1691712000000  0.633214            33460202521   18
18  1691798400000  0.631618            33375853095   19
19  1691884800000  0.627081            33136117270   20
20  1691971200000  0.625689            33062586425   21
21  1692057600000  0.634681            33537724683   22
22  1692144000000  0.609330            32198155781   23
23  1692230400000  0.589253            31137223188   24
24  1692316800000  0.504536            26660648261   25
25  1692403200000  0.505539            26713632027   26
26  1692489600000  0.519734            27463692676   27
27  1692576000000  0.539032            28483437132   28
28  1692662400000  0.524406            27710567007   29
29  1692719459000  0.512900            27102619667   30

In [160]:
#guardamos cada uno en un archivo csv en una carpeta llamada data
prices_df_arkham.to_csv('data/prices_df_arkham.csv', index=False)
prices_df_bitcoin.to_csv('data/prices_df_bitcoin.csv', index=False)
prices_df_bnb.to_csv('data/prices_df_bnb.csv', index=False)
prices_df_ethereum.to_csv('data/prices_df_ethereum.csv', index=False)
prices_df_dogecoin.to_csv('data/prices_df_dogecoin.csv', index=False)
prices_df_matic.to_csv('data/prices_df_matic.csv', index=False)
prices_df_pepe.to_csv('data/prices_df_pepe.csv', index=False)
prices_df_usdt.to_csv('data/prices_df_usdt.csv', index=False)
prices_df_worldcoin.to_csv('data/prices_df_worldcoin.csv', index=False)
prices_df_xrp.to_csv('data/prices_df_xrp.csv', index=False)

In [163]:
#Vamos a concatenar todos nuestros dataframe en uno solo
mesCrypto = pd.concat([prices_df_arkham, prices_df_bitcoin, prices_df_bnb, prices_df_ethereum, prices_df_dogecoin, prices_df_matic, prices_df_pepe, prices_df_usdt, prices_df_worldcoin, prices_df_xrp])
mesCrypto
mesCrypto.to_csv('data/mesCrypto.csv', index=False)